@charset "UTF-8";

@font-face {
  font-family: Navigo;
  font-display: swap;
  src: url("../fonts/Navigo-Black.woff2") format("woff2"), url("../fonts/Navigo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Navigo;
  font-display: swap;
  src: url("../fonts/Navigo-Light.woff2") format("woff2"), url("../fonts/Navigo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Navigo;
  font-display: swap;
  src: url("../fonts/Navigo-ExtraLight.woff2") format("woff2"), url("../fonts/Navigo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Navigo;
  font-display: swap;
  src: url("../fonts/Navigo-Bold.woff2") format("woff2"), url("../fonts/Navigo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Navigo;
  font-display: swap;
  src: url("../fonts/Navigo-Medium.woff2") format("woff2"), url("../fonts/Navigo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Navigo;
  font-display: swap;
  src: url("../fonts/Navigo-Regular.woff2") format("woff2"), url("../fonts/Navigo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Navigo;
  font-display: swap;
  src: url("../fonts/Navigo-Thin.woff2") format("woff2"), url("../fonts/Navigo-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #101820;
  line-height: 1;
  font-family: "Navigo";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Navigo";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #FFFFFF;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 20rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  background-color: #E2DBD5;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: transparent;
  padding: 0;
  width: 100%;
  border-radius: 0;
  overflow: hidden;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 1.625rem;
  line-height: 1.0384615385;
  font-weight: 500;
  margin-bottom: 0.9375rem;
}

h3 {
  font-size: 1.4375rem;
  line-height: 1.1739130435;
  font-weight: 500;
}

h4 {
  font-size: 1.0625rem;
  line-height: 1.4117647059;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__container {
  margin: auto;
  width: 100%;
}

.header {
  margin-top: 2.1875rem;
  margin-bottom: 1.875rem;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header img {
  margin: 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 14.375rem;
  width: 100%;
}

.text-block {
  line-height: 1.4117647059;
  margin: 1.875rem 0 1.875rem;
  font-weight: 300;
}

.text-block strong {
  font-weight: 400;
}

.text-block p {
  margin-bottom: 15px;
}

.text-block__button {
  margin-top: 0;
}

.button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  background: #ffffff;
  border-radius: 80px;
  -webkit-filter: drop-shadow(0px 15px 64px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 15px 64px rgba(0, 0, 0, 0.12));
  padding: 1.3125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1rem;
  line-height: 1.0625;
  position: relative;
}

.button:hover,
.button:active,
.button:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(#9de29f), to(#9de29f)), #ffffff;
  background: -o-linear-gradient(bottom, #9de29f, #9de29f), #ffffff;
  background: linear-gradient(0deg, #9de29f, #9de29f), #ffffff;
}

.button__change {
  padding-left: 1.875rem;
}

.button__change::before {
  content: "";
  position: absolute;
  background: url(../img/icon1.svg) no-repeat center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  left: 0.875rem;
  top: 1.1875rem;
}

.button__change:hover,
.button__change:active,
.button__change:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(#9fd6e7), to(#9fd6e7)), #ffffff;
  background: -o-linear-gradient(bottom, #9fd6e7, #9fd6e7), #ffffff;
  background: linear-gradient(0deg, #9fd6e7, #9fd6e7), #ffffff;
}

.button__decline {
  padding-left: 1.875rem;
}

.button__decline::before {
  content: "";
  position: absolute;
  background: url(../img/icon2.svg) no-repeat center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  left: 0.875rem;
  top: 1.1875rem;
}

.button__decline:hover,
.button__decline:active,
.button__decline:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(#f1bab2), to(#f1bab2)), #ffffff;
  background: -o-linear-gradient(bottom, #f1bab2, #f1bab2), #ffffff;
  background: linear-gradient(0deg, #f1bab2, #f1bab2), #ffffff;
}

.button__success {
  font-size: 1.4375rem;
  line-height: 1.1739130435;
  padding-left: 1.875rem;
}

.button__success::before {
  content: "";
  position: absolute;
  background: url(../img/icon4.svg) no-repeat center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.875rem;
  height: 1.375rem;
  left: 4.375rem;
  top: 1.375rem;
}

.button__success:hover,
.button__success:active,
.button__success:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(#9de29f), to(#9de29f)), #ffffff;
  background: -o-linear-gradient(bottom, #9de29f, #9de29f), #ffffff;
  background: linear-gradient(0deg, #9de29f, #9de29f), #ffffff;
}

.button__big {
  border-radius: 1.25rem;
  height: 232px;
  padding-top: 7.5rem;
}

.button__big::before {
  content: "";
  position: absolute;
  background: url(../img/icon3.svg) no-repeat center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 3rem;
  height: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 5rem;
}

footer {
  margin-bottom: 2.8125rem;
  margin-top: 1.875rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 0.6875rem;
  line-height: 1.2727272727;
  max-width: 120px;
  margin-top: 0.5rem;
}

.form-block {
  gap: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-block p {
  margin-bottom: 0.75rem;
  font-weight: 300;
  line-height: 1.4;
}

.form-block form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-block form textarea {
  border: 1px solid #cfcfcf;
  border-radius: 20px;
  resize: none;
  width: 100%;
  height: 8.75rem;
  margin-top: 1.25rem;
  padding: 0.9375rem;
}

.scroll-block {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin: -30px -40px;
  padding-top: 10px;
}

.scroll-block .button-block {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 101;
  padding: 0 40px;
  background: #ffffff;
}

.scroll-block .button-block .button {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: scroll;
  max-height: calc(100vh - 400px);
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 40px;
  position: relative;
}

.rating::-webkit-scrollbar {
  display: none;
}

.scroll-point {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(54.69%, #D2D2D2), to(#FFFFFF));
  background: -o-linear-gradient(top, #FFFFFF 0%, #D2D2D2 54.69%, #FFFFFF 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #D2D2D2 54.69%, #FFFFFF 100%);
  width: 1px;
  height: calc(100% - 100px);
  top: 75px;
  left: 27px;
  position: absolute;
}

.scroll-point span {
  position: absolute;
  width: 14px;
  height: 14px;
  left: -6px;
  top: 0;
  background: #9de29f;
  border-radius: 50%;
}

.shadow {
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  background: red;
}

.shadow--top {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(62.53%, #ffffff), color-stop(114.08%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, #ffffff 62.53%, rgba(255, 255, 255, 0) 114.08%);
  background: linear-gradient(180deg, #ffffff 62.53%, rgba(255, 255, 255, 0) 114.08%);
  opacity: 0;
}

.shadow--bottom {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(62.53%, #ffffff), color-stop(114.08%, rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, #ffffff 62.53%, rgba(255, 255, 255, 0) 114.08%);
  background: linear-gradient(0deg, #ffffff 62.53%, rgba(255, 255, 255, 0) 114.08%);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 1.21875rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: 1.4375rem;
  line-height: 1.1739130435;
  -webkit-box-shadow: 0px 15px 64px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 15px 64px rgba(0, 0, 0, 0.12);
  border-radius: 60px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 60px;
  z-index: -1;
  background: #ffffff;
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox.not-checked .checkmark {
  background: #efefef;
}

.checkbox:hover input ~ .checkmark {
  background-color: #9DE29F;
}

.checkbox input:checked ~ .checkmark {
  background-color: #9DE29F;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}

.question-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
  margin: 1.25rem 0;
}

.checkbox-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 0 0 1.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: 1.125rem;
}

.checkbox-small.red .checkmark {
  background: #d9d9d9;
}

.checkbox-small.green .checkmark {
  background: #d9d9d9;
}

.checkbox-small input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-small .checkmark {
  position: absolute;
  top: 0.1875rem;
  left: 0;
  height: 0.8125rem;
  width: 0.8125rem;
  background-color: transparent;
  border-radius: 50%;
  z-index: -1;
}

.checkbox-small .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-small:hover input ~ .checkmark {
  background-color: #9DE29F;
}

.checkbox-small.red:hover input ~ .checkmark {
  background-color: #F1BAB2;
}

.checkbox-small input:checked ~ .checkmark {
  background-color: #9DE29F;
}

.checkbox-small.red input:checked ~ .checkmark {
  background-color: #F1BAB2;
}

.checkbox-small .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
  margin: 2.1875rem 0;
}

.sliderresults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4.125rem;
  line-height: 0.5454545455;
  gap: 0.3125rem;
  font-weight: 500;
  margin: 4.0625rem 0;
}

.slider-img {
  margin-top: -18px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background: #cfcfcf;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9DE29F;
  cursor: pointer;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9DE29F;
  cursor: pointer;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/